@font-face{
    font-family: Headline;
    src: url(../fonts/Headline.ttf)
}

@font-face{
    font-family: Headline-bulbs;
    src: url(../fonts/Headline_bulbs.ttf)
}

body{
    display: flex;
    font-family: 'Asap', sans-serif;
    
}
#main{
    margin-left:auto;
    margin-right:auto;
}

.red{
    color: red;
}

.green{
    color: limegreen;
    transition: color 2s;
}

#title{
    font-family: Headline, sans-serif;
    margin: 0 auto;
}

#titleBulbs{
    font-family: Headline-bulbs, sans-serif;
}

#game, #description, #timer, #message{
    margin: auto;
}

#game{
    display: flex;
    font-size: 1.25rem;
}

#ques{
    font-weight: bold;
}


